# Ambiente Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/

# Ambiente Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Ambiente Celery
celerybeat-schedule
celerybeat.pid

# Arquivos de Configuração Sensíveis
.env

# FastAPI Cache
*.pid

# Diretórios de autenticação do Baileys (WhatsApp)
auth_info_multi/

# Selenium WebDriver downloads
chromedriver.exe
chromedriver.log
geckodriver.exe
geckodriver.log

# IDEs e Editor Configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.bak
*.swp
*.tmp
.DS_Store
Thumbs.db

# Hatchling Build Cache
dist/
build/
